a:hover {
  cursor: pointer;
}
img {
  margin-right: 10px;
}

.list-group {
  background-color: #556b2f;
  border-radius: 0;
  display: flex;
}

#progress-bar {
  margin: 5px;
}

.progress-bar {
  background-color: goldenrod;
}

.yourProgress {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

p {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  width: 100%;
  transition: 0.5s;
  border: 5px solid  #3f383f;
  color:  #3f383f;
  border-radius: 0;
}

