.form-check {
    margin: 10px;
}

input:hover {
  cursor: pointer;
}

h5, p {
  margin-left: .5rem;
}

.form-check-input[type='checkbox']:checked {
    background-color: #c73930;
    border-color: #c73930;
  }
.form-check-input[type='checkbox'] {
    border: 2px solid #3f383f;
  }
