  
  <section>
    <ng-container *ngFor="let skillParent of skillParentList$ | async">
      <div ngbDropdown id="skill-container">
        <button class="btn col-12 text-light"
        [ngStyle]="{'background-color': skillParent?.backgroundColor}"
        ngbDropdownToggle>
            {{ skillParent?.label }}
        </button>
        <div class="col-12" 
        ngbDropdownMenu id="skillList">
          <app-skills
          *ngFor="let skill of skillParent?.skills"
          [skill]="skill"
          ></app-skills>
        </div>
      </div>
    </ng-container>
  </section>
  