.line {
    border-top: thick double #64815a;
}

#paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 10px;
    color: #64815a;
  }

  h1 {
    text-align: center;
    padding: 10px;
    color: #3f383f;
}



