<section class="skill-container">
  <ng-container *ngFor="let skillParent of (skillParentList$ | async)">
    <div ngbDropdown id="skill-option-container">
      <button class="btn col-12 text-light"
              [ngStyle]="{'background-color': skillParent?.backgroundColor}" ngbDropdownToggle>
        {{skillParent?.label}}
      </button>
      <div class="col-12" ngbDropdownMenu id="skillList">
        <app-skills
          *ngFor="let skill of skillParent?.skills"
          [skill]="skill"
          (partSelected)="handlePartSelected($event, skillParent)"
        ></app-skills>
      </div>
    </div>
  </ng-container>
</section>

