.line {
    border-top: thick double #64815a;
}

#paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #64815a;
    padding: 10px;
    color: white;
  }

  h1 {
    text-align: center;
    padding: 10px;
}



