<div class="container">
    <div class="card">
      <div class="card-header">OSG Scout Master Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email-input">User Name</label>
            <input
              type="text"
              class="form-control"
              id="username-input"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
  