p {
  margin: 15px;
  font-size: 18px;
  /* color: #3f383f; */
  color:white;
  max-width: 1000px;
}

#paragraph {
  display: flex;
  justify-content: center;
  background-color: #64815a;

}

h1 {
  text-align: center;
  color: #64815a;
}

a {
  margin: 2px;
  color: #3f383f;
  font-size: 16px;
}

a:hover {
  color: #3f383f;
  font-weight: bold;
}

#login-link {
  font-weight: bold;
}

#links {
  text-align: center;
  font-size: 18px;
}

img {
  padding: 15px;
  max-width: 600px;
}

#image {
  text-align: center;
  background-color: #64815a;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.handbooks {
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  margin: 15px;
  border-width: 2px;
  box-shadow: 5px 2px 2px lightgrey;
}

.card-header {
  color: white;
}

.btn-outline-success {
  border-color: #3f383f;
  color: #3f383f;
  margin: 20px;
}

#button1:hover {
  background-color: #3f383f;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  p {
    max-width: 500px;
  }
}
