<hr />
<h1>Welcome</h1>
<div id="paragraph">
  <p>
    All requirements toward learning skills and earning badges in this app
    correspond with the official OSG Handbooks. It is still important that you
    refer to your handbook for additional information about these skills and
    badges.
    <br />
  </p>
</div>
<hr>

<div
  id="links"
  *ngFor="let item of scoutGroup"
  style="display: flex; flex-direction: column"
>
  <a href="{{ item.url }}">{{ item.group }} Handbook</a>
  <a href="{{ item.altLink}}">{{ item.altSup }}</a>
  <hr>
</div>

<div class="buttons">
  <div class="skills-btn" *ngFor="let item of scoutGroup">
    <button
      id="button1"
      type="button"
      routerLink="/master-list"
      class="btn btn-outline-success">
      {{ item.group }} Skills List
    </button>
  </div>
</div>
