<h1>Welcome</h1>
<div id="paragraph">
  <p>
    Use this app to keep track of your progress toward skill mastery and badges!
    <a id="login-link" routerLink="/login">LOGIN</a> to save your progress.
    <br><br>
    All badges and requirements listed here 
    correspond with the official OSG Handbooks.
    Refer to the handbooks - linked below - for additional information.
    <br />
  </p>
</div>

<div class="container">
  <div class="card" id="links" *ngFor="let item of scoutGroup"
  [style.border-color]="item.color">
    <div class="card-header" [style.background-color]="item.color">
      {{ item.group }}
    </div>
    <div class="col-10 mx-auto">
      <button
        id="button1"
        type="button"
        routerLink="{{ item.route }}"
        class="btn btn-outline-success"
      >
        {{ item.group }} Skills List
      </button>
    </div>
    <div class="card-footer">
      <a href="{{ item.url }}" target="_blank">{{ item.group }} Handbook</a>
      <br />
      <a href="{{ item.altLink }}" target="_blank">{{ item.altSup }}</a>
    </div>
  </div>
</div>
